<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhouhaoo.spring.dao.SkillsMapper" >
  <resultMap id="BaseResultMap" type="com.zhouhaoo.spring.domain.Skills" >
    <id column="SkillID" property="skillid" jdbcType="INTEGER" />
    <result column="SkillName" property="skillname" jdbcType="CHAR" />
    <result column="SkillType" property="skilltype" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SkillID, SkillName, SkillType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhouhaoo.spring.domain.SkillsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from skills
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from skills
    where SkillID = #{skillid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from skills
    where SkillID = #{skillid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhouhaoo.spring.domain.SkillsExample" >
    delete from skills
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhouhaoo.spring.domain.Skills" >
    insert into skills (SkillID, SkillName, SkillType
      )
    values (#{skillid,jdbcType=INTEGER}, #{skillname,jdbcType=CHAR}, #{skilltype,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhouhaoo.spring.domain.Skills" >
    insert into skills
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="skillid != null" >
        SkillID,
      </if>
      <if test="skillname != null" >
        SkillName,
      </if>
      <if test="skilltype != null" >
        SkillType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="skillid != null" >
        #{skillid,jdbcType=INTEGER},
      </if>
      <if test="skillname != null" >
        #{skillname,jdbcType=CHAR},
      </if>
      <if test="skilltype != null" >
        #{skilltype,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhouhaoo.spring.domain.SkillsExample" resultType="java.lang.Integer" >
    select count(*) from skills
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update skills
    <set >
      <if test="record.skillid != null" >
        SkillID = #{record.skillid,jdbcType=INTEGER},
      </if>
      <if test="record.skillname != null" >
        SkillName = #{record.skillname,jdbcType=CHAR},
      </if>
      <if test="record.skilltype != null" >
        SkillType = #{record.skilltype,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update skills
    set SkillID = #{record.skillid,jdbcType=INTEGER},
      SkillName = #{record.skillname,jdbcType=CHAR},
      SkillType = #{record.skilltype,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhouhaoo.spring.domain.Skills" >
    update skills
    <set >
      <if test="skillname != null" >
        SkillName = #{skillname,jdbcType=CHAR},
      </if>
      <if test="skilltype != null" >
        SkillType = #{skilltype,jdbcType=CHAR},
      </if>
    </set>
    where SkillID = #{skillid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhouhaoo.spring.domain.Skills" >
    update skills
    set SkillName = #{skillname,jdbcType=CHAR},
      SkillType = #{skilltype,jdbcType=CHAR}
    where SkillID = #{skillid,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.zhouhaoo.spring.domain.SkillsExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from skills
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>